.card-title {
   font-size: 1.2rem;
   margin-bottom: 10px;
   text-align: center;
}

.card-text {
   font-size: 1rem;
   margin-bottom: 20px;
   text-align: center;
}

.card-link {
   text-align: center;
}

.card-img-top {
   height: 750px;
   object-fit: cover;
}
